@model SubcategoryListViewModel
@{
    ViewBag.Title = "_CategoryList";
}

<div class="card mt-4">
    <div class="card-body">
        @if (!String.IsNullOrEmpty(Model.ParentCategoryDescription))
        {
            <h4>@Resources.Common.SubcategoriesFor @Model.ParentCategoryDescription</h4>
        }
        else
        {
            <h4>@Resources.Common.Subcategories</h4>
        }
        <div class="table-responsive table-resource">
            <table class="table table-hover table-bordered">
                <thead class="table-active">
                    <tr>
                        <th><i class="fa fa-arrows"></i></th>
                        <th>@Resources.Common.Description</th>
                        <th>@Resources.Common.Actions</th>
                    </tr>
                </thead>
                <tbody data-sort-group="@CustomSortGroups.ResourceCategories"
                       data-parent-ID="@Model.ParentCategoryID"
                       data-save-url="@Url.Action("SaveResourceCategorySort", "CustomSort")">
                    @foreach (var category in Model.ResourceCategories)
                    {
                        <tr data-sort-node="@category.CategoryID">
                            <td><i class="fa fa-bars sortable-handle"></i></td>
                            <td class="black-font">
                                @category.CategoryDescription
                            </td>
                            <td>
                                <a edit-category data-id="@category.CategoryID" data-parent="@category.ParentID" title="@Resources.Common.Edit"><i class="fa-pencil-square"></i></a>
                                <a delete-category data-id="@category.CategoryID" title="@Resources.Common.Delete"><i class="fa-times-circle"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <button class="btn btn-success float-right" data-sort-target="@Model.ParentCategoryID">@Resources.Common.SaveSortOrder</button>
    </div>
</div>