<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>        <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>        <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="mobileoptimized" content="0" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="published" content="@MvcApplication.ApplicationStartDate" />
    <meta name="description" content="" />
    <title>@ViewBag.Title - @Resources.Common.CompanyName</title>
    <link rel="app" id="apppath" href="@Request.ApplicationPath" />
    <link rel="app" id="appauthenticated" href="@Request.IsAuthenticated.ToString()" />
    <link rel="app" id="appsessiontimeout" href="@GlobalSettings.Backoffices.SessionTimeout" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-touch-icon-152x152.png" />
    @* Styles *@
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.12/css/jquery.Jcrop.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicker@1.11.15/jquery.timepicker.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
    @Styles.Render("~/bundles/styles/vendor")
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/flick/jquery-ui.css" />
    <link href="~/Content/styles/vendor/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/styles/site.min.css?v=@Settings.StyleVersionNumber" rel="stylesheet" />
    @*Fonts*@
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    @* Scripts *@
    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@Url.Action("culture", "app")"></script>
    @Html.Partial("Resources")

    @* RequireJS *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js" data-main="@Url.Content("~/Content/scripts/main.js")"></script>
    <script>
        require.config({
            baseUrl: '@Url.Content("~/Content/scripts")',
            waitSeconds: 60, 
            @if(HttpContext.Current.IsDebuggingEnabled) { <text>urlArgs: "bust=" + (new Date()).getTime(),</text> }
            paths: {
                'addresses': 'modules/addresses.min',
                'app': 'modules/app.min',
                'ajax': 'modules/ajax.min',
                'browser': 'modules/browser.min',
                'calendars': 'modules/calendars.min',
                'console': 'modules/console.min',
                'containers': 'modules/containers.min',
                'cookies': 'modules/cookies.min',
                'customsort': 'modules/customsort.min',
                'debug': 'modules/debug.min',
                'encryptions': 'modules/encryptions.min',
                'extensions': 'modules/extensions',
                'forms': 'modules/forms.min',
                'guids': 'modules/guids.min',
                'idletimeout': 'modules/idletimeout.min',
                'kendogrids': 'modules/exigoweb.kendogrids.min',
                'jszip': 'vendor/kendo/scripts/jszip',
                'passwords': 'modules/passwords.min',
                'popups': 'modules/popups.min',
                'profiles': 'modules/profiles.min',
                'pubsub': 'modules/pubsub.min',
                'shopping': 'modules/shopping.min',
                'urls': 'modules/urls.min',
                'widgets': 'modules/widgets.min',
                'handlebars': '@Scripts.Url("~/bundles/scripts/handlebars")',

                'select2': 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min',
                'amcharts': 'https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.13.0/amcharts',
                'amcharts.pie': 'https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.13.0/pie',
                'amcharts.serial': 'https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.13.0/serial',
                'trees': 'modules/trees.min',
                'd3': '//d3js.org/d3.v3.min',

                'mask': 'vendor/jquery.mask.min',

                'bootstrap': 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min',
                'enquire': 'https://cdnjs.cloudflare.com/ajax/libs/enquire.js/2.1.2/enquire.min',
                'fullcalendar': 'https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min',
                'fullcalendar-lang': 'https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/lang-all',
                'gcal': 'https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/gcal',
                'jcrop': 'https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.12/js/jquery.Jcrop.min',
                'jquery': "https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min",
                'jquery-color': 'https://code.jquery.com/color/jquery.color-2.1.2.min',
                'jquery-form': 'https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min',
                'jquery-knob': 'https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.11/jquery.knob.min',
                'jquery-scrollto': 'https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min',
                'jquery-ui': 'https://code.jquery.com/ui/1.11.4/jquery-ui.min',
                'jquery-validate': 'vendor/jquery.validate.min',
                'jquery-validate-unobtrusive': 'vendor/jquery.validate.unobtrusive.min',
                'jquery-validate-unobtrusive-custom': 'vendor/jquery.validate.unobtrusive.custom.min',
                'jquery-unobtrusive-ajax': 'vendor/jquery.unobtrusive-ajax.min',
                'jquery-sumoselect': 'vendor/jquery.sumoselect.min',
                'kendo': 'vendor/kendo/scripts/kendo.web.min',
                'kendo-cultures': 'vendor/kendo/scripts/kendo.culture.min',
                'kendo-timezones': 'vendor/kendo/scripts/kendo.timezones.min',
                'moment': 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min',
                'scrollreveal': 'vendor/scrollReveal',
                'toastr' : 'modules/toastr',
                'typeahead': 'vendor/typeahead',
                'tinymce': '//cdn.tinymce.com/4/tinymce.min',
                'timepicker': 'https://cdn.jsdelivr.net/npm/timepicker@1.11.15/jquery.timepicker.min',
            },
            bundles: {
                'typeahead-bundle': ['typeahead', 'bloodhound']
            },
            shim: {
                'amcharts.pie': {
                    deps: ['amcharts'],
                    exports: 'AmCharts',
                    init: function () {
                        AmCharts.isReady = true;
                    }
                },
                'amcharts.serial': {
                    deps: ['amcharts'],
                    exports: 'AmCharts',
                    init: function () {
                        AmCharts.isReady = true;
                    }
                },
                'bootstrap': {
                    deps: ["jquery"]
                },
                'gcal': {
                    deps: ["fullcalendar"]
                },
                'jcrop': {
                    deps: ["jquery", "jquery-color"]
                },
                'jquery-knob': {
                    deps: ["jquery"]
                },
                'jquery-validate-unobtrusive': {
                    deps: ['jquery-validate']
                },
                'jquery-unobtrusive-ajax': {
                    deps: ['jquery']
                },
                'jquery-sumoselect': {
                    deps: ['jquery']
                },
                'handlebars': {
                    exports: 'Handlebars'
                },
                'kendo-timezones': {
                    deps: ['kendo']
                },
                'kendogrids': {
                    deps: ['jszip','kendo', 'kendo-cultures']
                },
                'typeahead': {
                    deps: ['bloodhound']
                }
            },
            deps: ["jquery", "bootstrap", "extensions", "forms"]
        });
    </script>
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("header", required: false)
    @if (!GlobalSettings.Backoffices.GoogleAnalyticsWebPropertyID.IsNullOrEmpty())
    {
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', '@GlobalSettings.Backoffices.GoogleAnalyticsWebPropertyID', 'auto');
            ga('send', 'pageview');

        </script>
    }


</head>
<body class="stretched">
    <div id="toasts-container" aria-live="polite" aria-atomic="true">
        <!-- Then put toasts within -->
    </div>

    @Html.Raw(GlobalUtilities.DisplayDebugWatermark())

    @if (GlobalSettings.Exigo.Api.UseSandboxGlobally && GlobalSettings.Exigo.Api.SandboxID != 0)
    {
        <div class="alert alert-info text-center" role="alert">
            <strong>@Resources.Common.SandboxMode</strong> <br />
            @Resources.Common.SiteCurrentlyUsingSandbox @GlobalSettings.Exigo.Api.SandboxID.
        </div>
    }

    @RenderBody()

    @* Global Javascript *@
    @Html.Partial("_GlobalScripts")

    @* Page Scripts *@
    @RenderSection("scripts", required: false)
    @Html.PartialScripts()
    @Html.AntiForgeryToken()
</body>
</html>