@model PartyDashboardViewModel
@{
    ViewBag.Title = Resources.Common.PartyDashboard;
    var openParties = Model.Parties.Where(c => c.PartyStatusType == (int)PartyStatusTypes.Open).ToList();
    var closedParties = Model.Parties.Where(c => c.PartyStatusType != (int)PartyStatusTypes.Open).ToList().Where(p => Convert.ToDateTime(p.CloseDate) > DateTime.Now.BeginningOfYear()).ToList();
}


<div id="party-module-container">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="space-50"></div>
            <a class="btn btn-primary btn-lg btn-party-setup" href="@Url.Action("createparty")" style="width:100%">
                <span class="fa fa-plus"></span> @Resources.Common.CreateNewParty
            </a>
            <div class="space-5"></div>
            @Html.Partial("Partials/PartySalesThisMonth")
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="space-50"></div>
            @Html.Partial("Partials/OpenParties", openParties)
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="space-50"></div>
            @Html.Partial("Partials/ClosedParties", closedParties)
        </div>
    </div>
</div>
