@model RankRequirement


@if (Model.IsQualified)
{
    <div class="list-group-item pt-0 pb-3 px-1 border-0">
        <div class="media">
            <div class="media-object pull-left fa-check text-success"></div>
            <div class="media-body small text-left ml-1">
                @Model.RequirementDescription
                <div class="space-10"></div>
                <div class="progress progress-sm no-margin">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span class="sr-only">@Model.RequiredValue% @Resources.Common.Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="list-group-item py-1 px-1 border-0">
        <div class="media">
            <div class="media-object pull-left fa-times rank-danger-text"></div>
            <div class="media-body small text-left ml-1">
                @Model.RequirementDescription

                @if (!Model.IsBoolean)
                {
                    <div class="space-10"></div>

                    <div class="progress progress-sm no-margin">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@Model.RequiredToActualAsPercent" aria-valuemin="0" aria-valuemax="100" style="width: @Model.RequiredToActualAsPercent%;">
                            <span class="sr-only">@Model.RequiredToActualAsPercent% @Resources.Common.Complete</span>
                        </div>
                    </div>

                    <small class="text-muted float-right">@Model.ActualValueAsDecimal.ToString("N0") of @Model.RequiredValueAsDecimal.ToString("N0")</small>

                }
                else
                {
                    var actual = Convert.ToDecimal(Model.ActualValue);
                    var required = Convert.ToDecimal(Model.RequiredValue);
                    var percentage = actual * 100 / required;

                    <div class="space-10"></div>
                    <div class="progress progress-sm no-margin">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@Model.ActualValue" aria-valuemin="0" aria-valuemax="100" style="width: @percentage%;">
                            <span class="sr-only">@Model.RequiredValue% @Resources.Common.Complete</span>
                        </div>
                    </div>
                    <small class="text-muted float-right">@actual.ToString("N0") of @required.ToString("N0")</small>
                }
            </div>
        </div>
    </div>
}