@model ForgotPasswordViewModel
@{
    ViewBag.Title = Resources.Common.ResetPassword;

    var pageHeader = new PageHeader
    {
        PageName = ViewBag.Title
    };
}

@using (Ajax.BeginForm("ForgotPassword", "Authentication", new AjaxOptions()
{
    OnBegin = "forgottenPassword.onBegin",
    OnSuccess = "forgottenPassword.onSuccess",
    OnFailure = "forgottenPassword.onFailure"
}))
{
<div id="view-forgot-password">
    @Html.Partial("~/Views/Shared/Partials/_PageHeader.cshtml", pageHeader)

    <div class="content-wrap">
        <div class="container container-expandable">
            @Html.Raw(Resources.Common.ForgotPasswordInstructions)

            <div class="space-10"></div>

            <div class="form-row">
                @Html.LabelFor(c => c.Email, new { @class = "col-sm-1 col-form-label" })
                @Html.TextBoxFor(c => c.Email, new { @class = "form-control col-sm-4" })
                @Html.ValidationMessageFor(c => c.Email)
                <div id="success-message-container" class="col-12" style="display: none;">
                    <div class="space-5"></div>
                    <em class="text-success">@Resources.Common.EmailHasBeenSent</em>
                </div>
                <div id="failed-message-container" class="col-12" style="display: none;">
                    <div class="space-5"></div>
                    <em class="text-error text-danger"></em>
                </div>
            </div>
            <div class="form-row my-3">
                <button type="submit" id="resetPasswordBtn" data-loading-text="@Resources.Common.Loading" class="btn btn-primary login">@Resources.Common.Submit</button>
            </div>
            @Html.AntiForgeryToken()
        </div>
    </div>
</div>
}

<script>
    var forgottenPassword;
    require(["jquery", "toastr", "bootstrap"], function ($, toastr) {
        forgottenPassword = (function () {
            // Actions
            var actions = {
                onBegin: function () {
                    $('#resetPasswordBtn').buttonState('loading');
                },
                onSuccess: function (response) {
                    if (response.success) {
                        $('#resetPasswordBtn').text("Submit");
                        $("#success-message-container").show();
                    }
                    else {
                        $('#resetPasswordBtn').buttonState("reset");

                        $("#failed-message-container").find('.text-error').html(response.message);
                        $("#failed-message-container").show();
                    }
                },
                onFailure: function (a, b) {
                    console.log("failed", a, b);
                }
            };

            // Exports
            return {
                onBegin: actions.onBegin,
                onSuccess: actions.onSuccess,
                onFailure: actions.onFailure
            };
        })();
    });
</script>
