@model ResetPasswordViewModel
@{
    ViewBag.Title = Resources.Common.ResetPassword;

    var pageHeader = new PageHeader
    {
        PageName = ViewBag.Title
    };
}

<div id="view-resetpassword" class="resetpassword">
    @Html.Partial("~/Views/Shared/Partials/_PageHeader.cshtml", pageHeader)

    <div class="content-wrap">
        <div class="container container-expandable">
            @if (!Model.IsExpiredLink)
            {
                using (Ajax.BeginForm("ResetPassword", "Authentication", new AjaxOptions()
                {
                    HttpMethod = "Post",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "resetModule.login"
                }))
                {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.HiddenFor(u => u.CustomerType)
                            @Html.HiddenFor(u => u.CustomerID)
                        </div>
                        <div class="form-group row">
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Password, new
                                       {
                                           @class = "form-control",
                                           placeholder = Resources.Common.Password
                                       })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-12">

                                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-4">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new
                                       {
                                           @class = "form-control",
                                           placeholder = Resources.Common.ConfirmPassword
                                       })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" id="resetPasswordBtn" class="btn btn-primary login" data-loading-text="@Resources.Common.Loading">@Resources.Common.ResetPassword</button>
                            </div>
                        </div>
                }
            }
            else
            {
                <a href="@Url.Action("forgotpassword")">
                    @Resources.Common.ExpiredResetMessage
                </a>
                <div class="space-20"></div>
            }
        </div>
    </div>
</div>

<script>
    var resetModule = {};
    require(["jquery", "toastr", "bootstrap"], function ($, toastr) {

        //$('#resetPasswordBtn').buttonState('loading');

        resetModule.login = function (response) {
            if (response.success) {
                toastr.success("@Resources.Common.PasswordUpdated");

                setTimeout(function () {
                    window.location = response.url;
                }, 2000);
            } else {
                $('#resetPasswordBtn').buttonState('reset');
                console.log(response);
                toastr.error(response.message);
            }
        }
    });
</script>